<footer class="d-flex justify-content-start">© 2022. All rights reserved</footer><style type="text/css">footer{
      display: flex;
      justify-content: space-between;
      background-color: #9C9CA2;
      color: #ffffff;
      padding: 12px 24px;
      min-width: 1000px;
  }
  footer .footer-item{
      color: #ffffff;
      text-decoration: none;
      margin-left: 16px;
  }
  footer .footer-item:hover{
      color: #eeeeee
  }
  footer .footer-item span{
      margin-left: 4px
  }</style>